<%- include('../includes/top.ejs') %>
</head>
<body>
    
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form>
            <h1>Add a Product</h1>
            <div class="form-field">
                <label for="name">Name:</label>
                <input name="name" type="text" placeholder="Enter product name" />
            </div>
            <div class="form-field">
                <label for="price">Price:</label>
                <input name="price" type="text" placeholder="Enter product name" />
            </div>
            <div class="form-field">
                <label for="img">Image Url:</label>
                <input name="img" type="text" placeholder="Enter image url" />
            </div>
            <div class="form-field">
                <label for="desc">Description:</label>
                <textarea name="desc" placeholder="Enter product description" ></textarea>
            </div>
            <button type="submit" class="btn">Add Product</button>
            

        </form>
    </main>
   <%- include('../includes/bottom.ejs') %>