<%- include('../includes/top.ejs') %>
</head>
<body>
    
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form action="/admin/edit-product" method="POST">
            <h1>Edit Product</h1>
            <input hidden name="productId" type="text"  />
            <div class="form-field">
                <label for="name">Name:</label>
                <input name="name" type="text" placeholder="Enter product name" />
            </div>
            <div class="form-field">
                <label for="price">Price:</label>
                <input name="price" type="text" placeholder="Enter product name" />
            </div>
            <div class="form-field">
                <label for="img">Image Url:</label>
                <input name="img" type="text" placeholder="Enter image url" />
            </div>
            <div class="form-field">
                <label for="desc">Description:</label>
                <textarea name="desc" placeholder="Enter product description" ></textarea>
            </div>
            <button class="btn" type="submit">save</button>
            

        </form>
    </main>
   <%- include('../includes/bottom.ejs') %>