<header>
    <h1><a href="/">Home</a></h1>
    <nav class="nav" >
        
        <ul>
            <li class="nav-item"><a href="/">Products</a></li>
            <li class="nav-item"><a href="/admin/products">Admin</a></li>
            <li class="nav-item"><a href="/admin/add-product">Add product</a></li>
        </ul>
    </nav>
</header>