
<div class="products-container">
   <div class="product">
       <h1>Product</h1>
       <img alt="product" src="">
       <h3>Price: 60</h3>
       <form action="/add-to-cart" method="POST">
            <a href="/product-details" class="btn">Details</a>
            <button class="btn" type="submit">Add to cart</button>
        </form>
   </div>
   <div class="product">
       <h1>Product</h1>
       <img alt="product" src="">
       <h3>Price: 60</h3>
       <form action="/add-to-cart" method="POST">
            <a href="/product-details" class="btn">Details</a>
            <button class="btn" type="submit">Add to cart</button>
        </form>
   </div>
   <div class="product">
    <h1>Product</h1>
    <img alt="product" src="">
    <h3>Price: 60</h3>
    <form action="/add-to-cart" method="POST">
        <a href="/product-details" class="btn">Details</a>
        <button class="btn" type="submit">Add to cart</button>
    </form>
</div>
<div class="product">
    <h1>Product</h1>
    <img alt="product" src="">
    <h3>Price: 60</h3>
    <form action="/add-to-cart" method="POST">
        <a href="/product-details" class="btn">Details</a>
        <button class="btn" type="submit">Add to cart</button>
    </form>
</div>
</div>