
<div class="products-container">
   <div class="product">
       <h1>Product</h1>
       <img alt="product" src="">
       <h3>Price: 60</h3>
       <button>Details</button>
       <button>Add to cart</button>
   </div>
   <div class="product">
       <h1>Product</h1>
       <img alt="product" src="">
       <h3>Price: 60</h3>
       <button>Details</button>
       <button>Add to cart</button>
   </div>
   <div class="product">
    <h1>Product</h1>
    <img alt="product" src="">
    <h3>Price: 60</h3>
    <button>Details</button>
    <button>Add to cart</button>
</div>
<div class="product">
    <h1>Product</h1>
    <img alt="product" src="">
    <h3>Price: 60</h3>
    <button>Details</button>
    <button>Add to cart</button>
</div>
</div>