<%- include('./includes/top.ejs') %>
</head>
<body>
    
    <%- include('./includes/navigation.ejs') %>
    <main>
    <h1>Products</h1>
   <%- include('./includes/products.ejs') %>
    </main>
   <%- include('./includes/bottom.ejs') %>