body,div,h1,h2,h3,h4,h5,p,header,footer,a,nav,ul,li,main{
    margin: 0px;
    padding: 0px;

}

body{
    max-height: 100%;
    max-width: 100%;
    font-size: 14px;

}

header{
    width: 100%;
    height: 3rem;
    
    background:rgb(22, 53, 53);
    font-weight: 800;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

nav ul {

   display: flex;
   flex-direction: row;
   justify-content: space-between;

}

.nav-item{
    list-style-type: none;
    
}
header a{
 text-decoration: none;
 color: white;
 padding: 1rem;
 
 white-space: nowrap;

}

.nav-item a:hover{
    background:rgb(201, 233, 233);
}

.products-container{
    padding: 1rem;
    
    max-width: 90%;
    margin:0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}
.products-container > .product{
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;

}
form{
    max-width: 80%;
    margin: 0 auto;
    text-align: left;

}

.product img{
    margin: 1rem;
    max-width: 70%;
    height: 7rem;
}

.product > form{
    max-width: 100%;
    margin: 1rem auto;
    text-align: center;
}
form > h1{
    text-align: center;
    margin: 1rem 0;
}
form > div{
    margin-bottom: 1rem;
}
.form-field{
    display: flex;
    flex-direction: column;
}
footer{
    background:rgb(22, 53, 53);
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

main{
    padding: 1rem 0;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
  }